<form method="POST" action="/teachers/edit/{{user.id}}?_method=PUT" class="mx-5">
  <div class="mb-3">
    <label for="name" class="form-label">
      <h3><i class="fa-solid fa-chalkboard-user" style="color: #000000;">&nbsp;教師名稱</i>
      </h3>
      
      {{#if teacher}}{{this.id}}{{/if}}</label>
    <input
      id="name"
      name="name"      
      class="form-control"
      type="text"
      value="{{user.name}}"
    >
  </div>
  <!--intro-->
  <div class="mb-3">
    <label for="intro" class="form-label"><h3>
        <i class="fa-solid fa-chalkboard" style="color: #0b0b0b;">&nbsp;課程介紹</i>
      </h3></label>
    <textarea
      id="intro"
      name="intro"
      rows="2"
      cols="10"
      class="form-control"      
    >{{teacher.intro}}</textarea>
  </div>
  <!--style-->
  <div class="mb-3">
    <label for="style" class="form-label"><h3>
        <i
          class="fa-solid fa-person-chalkboard"
          style="color: #0b0b0b;"
        >&nbsp;教學風格</i>
      </h3></label>
    <textarea
      id="style"
      name="style"
      rows="2"
      cols="10"
      class="form-control"      
    >{{teacher.style}}</textarea>
  </div>
  <!--course duration-->
  <div class="mb-3">
    <label for="courseDuration" class="form-label"><h3>
        <i class="fa-solid fa-clock" style="color: #0b0b0b;">&nbsp;單堂課程時間(分鐘)</i>  
      </h3> </label>
    <select
      class="form-select"
      aria-label="duration"
      name="courseDuration"
      id="courseDuration"
    >
      <option value="0.5"
      {{#ifCond teacher.courseDuration 0.5}}
    selected
    {{/ifCond}}>30 分鐘</option>
    <option value="1" {{#ifCond teacher.courseDuration 1}}
    selected
    {{/ifCond}}>60 分鐘</option>
    </select>
  </div>
  <!--link-->
  <div class="mb-3">
    <label for="link" class="form-label"><h3>
        <i class="fa-solid fa-link" style="color: #0b0b0b;">&nbsp;你的課程連結</i>
      </h3></label>
    <input type="text" class="form-control" id="link" name="link" value="{{teacher.link}}"/>
  </div>
  <!--appointment-->
  <div class="mb-3">
    <label for="link" class="form-label"><h3>
        <i class="fa-solid fa-calendar-week" style="color: #0b0b0b;">&nbsp;開放預約時間</i>
      </h3> </label>
    <!-- Sunday -->
    <div class="input-group">
      <div class="input-group-text bg-danger">
        <input
          class="form-check-input mt-0 "
          type="checkbox"
          value="true"
          aria-label="Radio button for following text input"
          id="Sunday"
          name="sunday"
           {{#ifCond teacher.sunday 1}}checked{{/ifCond}}
        />
      </div>
      <label for="Sunday" class="form-control text-align">Sunday</label>
    </div>
    <br />
    <!-- Monday -->
    <div class="input-group">
      <div class="input-group-text bg-danger">
        <input
          class="form-check-input mt-0"
          type="checkbox"
          value="true"
          aria-label="Radio button for following text input"
          id="Monday"
          name="monday"
           {{#ifCond teacher.monday 1}}checked{{/ifCond}}
        />
      </div>
      <label for="Monday" class="form-control text-align">Monday</label>
    </div>
    <br />
    <!-- Tuesday -->
    <div class="input-group">
      <div class="input-group-text bg-danger">
        <input
          class="form-check-input mt-0"
          type="checkbox"
          value="true"
          aria-label="Radio button for following text input"
          id="Tuesday"
          name="tuesday"
           {{#ifCond teacher.tuesday 1}}checked{{/ifCond}}
        />
      </div>
      <label for="Tuesday" class="form-control text-align">Tuesday</label>
    </div>
    <br />
    <!-- Wednesday -->
    <div class="input-group">
      <div class="input-group-text bg-danger">
        <input
          class="form-check-input mt-0"
          type="checkbox"
          value="true"
          aria-label="Radio button for following text input"
          id="Wednesday"
          name="wednesday"
           {{#ifCond teacher.wednesday 1}}checked{{/ifCond}}
        />
      </div>
      <label for="Wednesday" class="form-control text-align">Wednesday</label>
    </div>
    <br />
    <!-- Thursday -->
    <div class="input-group">
      <div class="input-group-text bg-danger">
        <input
          class="form-check-input mt-0"
          type="checkbox"
          value="true"
          aria-label="Radio button for following text input"
          id="Thursday"
          name="thursday"
          {{#ifCond teacher.thursday 1}}checked{{/ifCond}}
        />
      </div>
      <label for="Thursday" class="form-control text-align">Thursday</label>
    </div>
    <br />
    <!-- Friday -->
    <div class="input-group">
      <div class="input-group-text bg-danger">
        <input
          class="form-check-input mt-0"
          type="checkbox"
          value="true"
          aria-label="Radio button for following text input"
          id="Friday"
          name="friday"
          {{#ifCond teacher.friday 1}}checked{{/ifCond}}
        />
      </div>
      <label for="Friday" class="form-control text-align">Friday</label>
    </div>
    <br />
    <!-- Saturday -->
    <div class="input-group">
      <div class="input-group-text bg-danger">
        <input
          class="form-check-input mt-0"
          type="checkbox"
          value="true"
          aria-label="Radio button for following text input"
          id="Saturday"
          name="saturday"
          {{#ifCond teacher.saturday 1}}checked{{/ifCond}}
        />
      </div>
      <label for="Saturday" class="form-control text-align">Saturday</label>
    </div>
    <br />
  </div>
  <button type="submit" class="btn btn-outline-danger">Submit</button>
</form>
<a class="btn btn-secondary mx-5 my-2" href="/teachers/{{teacher.id}}">Back</a>