<div class="container">
  <div class="row">
    <!--基本資料-->
    <div class="col-4 d-flex card bg-light border-0">
      <img class="card-img-top my-3" src="{{user.profile}}" alt="user.img" />
      <h1 class="my-2">
        <i
          class="fa-solid fa-user"
          style="color: #000000;"
        >&#09;{{user.name}}</i>
      </h1>
      <h3 class="my-2">
        <i
          class="fa-solid fa-earth-asia"
          style="color: #000000;"
        >&#09;{{user.nation}}</i>
      </h3>
      <h3>
        <i
          class="fa-regular fa-star"
          style="color: #000000;"
        >&#09;{{averageScore}}</i>
      </h3>
      <h4>
        <i
          class="fa-solid fa-file"
          style="color: #000000;"
        >&#09;{{user.intro}}</i>
      </h4>
      <button class="btn btn-secondary my-2" type="button" id="button-addon2"><a
          class="text-decoration-none text-white"
          href="/users/edit/{{user.id}}"
        >Edit</a>
      </button>
      <a class="btn btn-secondary my-2" href="/">Back</a>
    </div>

    <!--課程資料-->
    <div class="col-8">
      <!--未完成未評分課程-->
      <h3 class="my-2">
        <i class="fa-regular fa-square-check" style="color: #000000;">&#09;</i>
        New Schedule
      </h3>
      <div class="row my-2">
        {{#each notDoneCourses}}
          <div class="col-6">
            <div class="card my-2" style="width: 22rem;">
              <div class="card-body">
                <h6 class="card-title courseDate">
                  <i
                    class="fa-regular fa-calendar-days"
                    style="color: #c0c0c0;"
                  ></i>
                  {{this.date}}
                </h6>
                <h6 class="card-subtitle mb-2">
                  <i
                    class="fa-solid fa-chalkboard-user"
                    style="color: #c0c0c0;"
                  ></i>
                  {{this.Teacher.User.name}}
                </h6>
                <h6><i
                    class="fa-solid fa-link"
                    style="color: #c0c0c0;"
                  ></i>&#09;<a
                    href="/comment"
                    class="card-link"
                  >{{this.Teacher.link}}</a></h6>

              </div>
            </div>
          </div>
        {{/each}}
      </div>

      <!--已完成未評分課程-->
      <h3 class="my-4">
        <i class="fa-solid fa-square-check" style="color: #000000;">&#09;</i>
        Lesson History
      </h3>
      <div class="row">        
        {{#each notRatedCourses}}
        {{#if notRatedCourses}}
          <form class="row g-3 col-6 m-0 p-0">
            <div class="col-auto">
              <img
                readonly
                class="form-control-plaintext p-0 m-0"
                style="width: 40px;height:auto;"
                src="{{this.Teacher.User.profile}}"
              />
            </div>
            <div class="col-3 mx-0 px-0">
              <input
                type="text"
                id="courseId"
                name="courseId"
                class="form-control"
                value="{{this.id}}"
              />
            </div>
            <div class="col-5 mx-0">
              <input
                type="text"
                name="userId"
                class="form-control"
                value="{{this.Teacher.User.name}}"
                disabled
              />
            </div>
            <div class="col-auto">
              <button
                type="button"
                id="toModalButton"
                class="btn btn-danger mb-3 select"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Score
              </button>
            </div>
          </form>
          {{/if}}          
        {{/each}}
      </div>
      <!--我的學習次數名次-->
      <h3 class="my-4">
        <i class="fa-solid fa-ranking-star" style="color: #000000;"></i>
        我的學習次數名次
      </h3>
      <div class="card">
        <h5 class="card-body m-0">{{ranking}}</h5>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="postScore" action="/comment/{{user.id}}" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">分享本次的課程體驗</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-8 m-2">
              <input
                id="courseID"
                type="number"
                name="courseID"                
              />
            </div>
            <div class="col-8 m-2">
              <input
                type="number"
                min="1"
                max="5"
                name="score"
                placeholder="請輸入評分"
                value="{{score}}"
                required
              />
            </div>
            <div class="col-8 m-2">
              <input
                type="text"
                name="comment"
                placeholder="請輸入留言"
                value="{{comment}}"
                required
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger text-white">
            提交評分
          </button>
          <button
            type="submit"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  /* const btn = document.querySelector(".select");  const courseId = document.getElementById("courseId");
   const courseID = document.getElementById("courseID");
   btn.addEventListener("click", ()=>{ const
  index = courseId.selectedIndex;  
  courseID.value = courseId.value 
  });*/
  const myModalEl = document.getElementById('exampleModal')
myModalEl.addEventListener('show.bs.modal', function (event) {
  // 讀取資料
  const selectedId = courseId.value;
  const index = courseId.selectedIndex;
  // 寫入資料
  courseID.value = courseId.value ;
})
</script>